
<ion-content text-center>
  <h6>Enter otp</h6>
  <ion-grid>
    <ion-row style="color:#142c4f">
      <ion-col col-2>
        <ion-item>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <a (click)="verifyOtp()">Verify otp</a>
</ion-content>