<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <!-- <ion-item>
  <ion-label floating>Phone Number</ion-label>
<ion-input type="tel"[(ngModel)]="mobile"></ion-input>
  </ion-item>
  <a (click)="send()">send otp</a> -->
  <ion-item>
    <ion-label floating>Enter Phone Number</ion-label>
  <ion-input type="tel"[(ngModel)]="mobile"></ion-input>
    </ion-item>
  <ion-button  expand="full" (click)="send()">Send Otp</ion-button>
  <ion-item>
    <ion-label floating>Enter otp</ion-label>
  <ion-input type="text"[(ngModel)]="code"></ion-input>
    </ion-item>
    <ion-button  expand="full" (click)="verify()">Verify Otp</ion-button> 

</ion-content>
